@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
:root {
  --blue: #1e90ff;
  --black: black;
  --light-gray: #e5e7eb;
  --gray: #9ca3af;
  --dark-gray: #4b5563;
  --green: #10b981;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0 3%;
  height: 100%;
  box-sizing: border-box;
  font-family: 'Quicksand';
  background: url('./img/concert.jpg') no-repeat;
  background-position: center;
  background-size: cover;
  backdrop-filter: blur(4px);
}

a {
  text-decoration: none;
  font-weight: 500;
}

input {
  border: none;
  outline: none;
}

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100%;
}
