@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
:root {
  --blue: #1e90ff;
  --black: black;
  --white: white;
  --gray: #9ca3af;
  --green: #10b981;
  --red: #ff4040;
}

/* ::-webkit-scrollbar the scrollbar.
::-webkit-scrollbar-button the buttons on the scrollbar (arrows pointing upwards and downwards).
::-webkit-scrollbar-thumb the draggable scrolling handle.
::-webkit-scrollbar-track the track (progress bar) of the scrollbar.
::-webkit-scrollbar-track-piece the track (progress bar) NOT covered by the handle. */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgb(56, 56, 56);
  border-radius: 20px;
}

html {
  min-height: 100vh;
}

body {
  margin: 0;
  min-height: 100vh;
  box-sizing: border-box;
  font-family: 'Quicksand';
  background: url('./img/concert.jpg') no-repeat;
  background-position: center;
  background-size: cover;
  overflow: overlay;
  backdrop-filter: blur(2px);
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
}

input {
  border: none;
  outline: none;
}

::placeholder {
  color: var(--gray);
  opacity: 1;
}

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}
